button.active {
  box-shadow: 0 0 5px #fff;
}
@keyframes finally_status {
  0% {
    top: 50px;
  }
  25% {
    opacity: 1;
    top: 100px;
  }
  50% {
    opacity: 1;
    top: 100px;
  }
  75% {
    opacity: 1;
    top: 100px;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}
