.position {
  position: absolute;
  top: 50px;
  right: 50px;
  .onOffButton {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & > input {
      appearance: none;
    }
    & > .span {
      position: absolute;
      width: 100%;
      height: 100%;
      //background: linear-gradient(#555353, #363535, #303030);
      background: linear-gradient(
        rgba(113, 176, 214, 1),
        rgba(170, 98, 185, 1)
      );
      border: 1px solid #222;
      border-radius: 5px;
      box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5), 0 15px 25px rgba(0, 0, 0, 0.35);
      &::before {
        content: '';
        position: absolute;
        inset: 5px 3px;
        border-top: 1px solid #ccc;
        filter: blur(2px);
      }
    }
    & > input:checked ~ span {
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
        inset 0 5px 5px rgba(0, 0, 0, 0.5),
        inset 0 15px 25px rgba(0, 0, 0, 0.35);
    }
    & > input:checked ~ .theme {
      color: #dddddd;
    }
    & > .theme {
      position: relative;
      color: #fff;
      z-index: 10;
      width: 100%;
      height: 100%;
      font-size: 1.5emf;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
